{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <div class="my_title row">
            <div class="col-9 col-sm-12 col-md-6 col-lg-6">
                  <img src="{% static 'img/logo.png' %}" alt="logoimage">
                  Victory School
            </div>
            <div class="col-9 col-sm-12 col-md-6 col-lg-6">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'school:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'school:login' %}">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Departments
                    </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></li>
                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Mathematics">Mathematics</a></li>
                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">Commerce</a></li>
                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Social_science">Social Science</a></li>
                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/English_language">English</a></li>
                   </ul>
                </li>
              </ul>
    </div>
  </div>

</nav>