<select id="first" name="purpose">
      <option value="null" selected="selected">Please select the purpose</option>
    <option value="order" >Order</option>
    <option value="return" >Return</option>
    <option value="enquiry">Enquiry</option>
    </select>
<br>
<br>
Materials Provide<br>
 <input type="checkbox" id="1" name="paper" value="paper">
  <label for="1"> Exam papers</label><br>
  <input type="checkbox" id="2" name="pen" value="pen">
  <label for="2"> Pen</label><br>
  <input type="checkbox" id="3" name="book" value="Book">
  <label for="3"> notebook</label><br><br>
